<!DOCTYPE html>
<html>

{% include 'navBar.html.twig' %}

<body>
<div class="container mt-3">
    {% block body %}
    <ul>
        <li><a href="{{ path('product_list') }}">Liste des Produits</a></li>
        <li><a href="{{ path('customer_list') }}">Liste des Clients</a></li>
    </ul>
    {% endblock %}
</div>

<script src="https://code.jquery.com/jquery-3.6.4.slim.min.js" integrity="sha384-eS1xoIj6J91fBCR7WEs5KCx5Lr6ST2d3oV8z7FVFL13iFSigB3F6CEBC6JwFVoB8" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-lJjLrjVTM8J3ltDEuNX3WrKY5b7nNK9ENP/rCCEYr3cY2Y7fHV3fSIJYnbJAGDMD" crossorigin="anonymous"></script>

</body>
</html>