<!DOCTYPE html>
<html>
    {% include 'navBar.html.twig' %}
<body class="product">
    <h1>Liste des Produits</h1>
    <ul>
        {% for product in products %}
            <li>
                <a href="{{ path('product_detail', {'id': product.id}) }}">
                    {{ product.name }}
                </a> - {{ product.price }} €
            </li>
        {% endfor %}
    </ul>

    <button onclick="window.location='{{ path('dashboard') }}'">Retour</button>

</body>
</html>
