<!DOCTYPE html>
<html>
    {% include 'navBar.html.twig' %}
<body class="product_detail">
    <h1>Détail du Produit</h1>
    <p>Nom du produit : {{ productDetails[id].name }}</p>
    <p>Prix du produit : {{ productDetails[id].price }}</p>
    <p>Description du produit : {{ productDetails[id].description }}</p>
</body>

<button onclick="window.location='{{ path('product_list') }}'">Retour</button>

</html>
